.hero {     
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;        
    flex-direction:column;    
    position: relative;
    
    &__start {
        position:absolute;
        padding-left:100px;   
        }
    }        

